[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/nerdtree_bigzhu"]
	path = bundle/nerdtree_bigzhu
	url = https://github.com/bigzhu/nerdtree
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/tpope-vim-abolish"]
	path = bundle/tpope-vim-abolish
	url = https://github.com/tpope/tpope-vim-abolish
[submodule "bundle/gotests-vim"]
	path = bundle/gotests-vim
	url = https://github.com/buoto/gotests-vim
[submodule "bundle/vim-mql4"]
	path = bundle/vim-mql4
	url = https://github.com/vobornik/vim-mql4
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim
